* {
    user-select: none;
    -webkit-user-drag: none;
}

body {
    background-color: #0A161C;
}

.header {
    width: 100%;
    height: 30rem;
    background: linear-gradient(#0089E4, #0A161C);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-top-left-radius: 43px;
    border-top-right-radius: 43px;
    overflow: hidden;
}

.cloud1 {
    position: absolute;
    left: -4rem;
    top: 55%;
    width: 220px;
    height: 185px;
}

/* .header-image {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 1440px;
    height: 400px;
} */

.cloud2 {
    position: absolute;
    right: -5rem;
    top: 20%;
    width: 220px;
    height: 185px;
}

@media (max-width: 480px) {
    body {
        margin: 12px;
    }

    .header {
        height: 15rem;
    }

    .cloud1,
    .cloud2 {
        display: none;
    }

    .header-image {
        width: 25rem;
        height: 8rem;
        top: 30%;
    }
}

@media (max-width: 768px) and (min-width: 481px) {
    .header {
        height: 16rem;
    }

    .cloud1,
    .cloud2 {
        display: none;
    }

    .header-image {
        width: 30rem;
        top: -20%;
    }
}

@media (max-width: 1080px) and (min-width: 769px) {
    .header {
        height: 25rem;
    }

    .cloud1,
    .cloud2 {
        width: 180px;
    }

    .header-image {
        width: 40rem;
    }
}